@import '../../global.css';


#logo_home {
    width: 147.5px;
    height: 36px;
    margin-top: 115.5px;
}
  
 #bem-vindo  {
    width: 88px;
    height: 32px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin: 0 auto;
    padding-top: 33.5px;
    color: var(--charcoal-grey);
}

#lorem-ipsum {
    width: 178.9px;
    height: 26px;
    padding-top: 50.3px;
    padding-bottom: 37.9px;
    margin: 0 auto;
    font-family: Roboto;
    font-size: 9px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -0.13px;
    text-align: center;
    color: var(--charcoal-grey);
}

#ic_email{
    position: absolute;
    margin-top: 10px;
    z-index: 3;
    width: 13px;
    height: 13px;
    border: none;
}

.input_form {
  width: 175.5px;
  height: 20.5px;
  border:none;
  border-bottom: solid 0.3px var(--charcoal-grey) !important;
  background-color: var(--beige);
  padding-left: 15.7px;
  font-family: Roboto;
  font-size: 9px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.13px;
  text-align: left;
  color: var(--charcoal-grey);
}

#ic_cadeado{
    position: absolute;
    margin-top: 10px;
    z-index: 3;
    width: 13px;
    height: 13px;
    border: none;
}

#submit_btn {
  width: 162px;
  height: 26.4px;
  border-radius: 1.8px;
  background-color: var(--greeny-blue);
  outline: none !important;
  border: none !important;
  align-items: center;
  justify-content: center;
  margin-top: 10.1px;
}

#enter {
  width: 35px;
  height: 12px;
  font-family: Roboto;
  font-size: 9px;
  text-align: center;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--white-two);
}