@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    --beige: #ebe9d7;
    --charcoal-grey: #383743;
    --greeny-blue: #57bbbc;
    --white-two: #ffffff;
}

#box {
    width: 512px;
    height: 512px;
   background-color: var(--beige);
}

.App{
}
   
   /* width: 512px;
   height: 512px; */
   /* margin: 0 auto;
   display: flex; */
   /* justify-content: center;
   flex-direction: row; */
   /* align-items: center; */
   /* align-items: center; */
   /* -webkit-font-smoothing: antialiased; */ 